<!DOCTYPE html>
<html lang="en">

<head>
    
    <title>{% block title %}VizWizards{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.24/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;500&display=swap">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.24/angular-material.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/d3-sankey@0.12.3/dist/d3-sankey.min.js"></script>
    
    {% block extra_styles %}{% endblock %}

</head>

<body ng-app="myApp">
    
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <h2>Menu</h2>
        </div>
        <div class="sidebar-content">
            <div class="accordion">
                <a href="/" class="accordion-btn" id="homelink">Home</a>

                <button class="accordion-btn" onclick="toggleDropdown('section2')">Comparing Categories</button>
                <div class="dropdown-content" id="section2">
                    <a href="/bar">Bar charts</a>
                    <a href="/stacked">Stacked charts</a>
                    <a href="heatmap">Heatmap</a>
                </div>
                <a href="/snakey" class="accordion-btn" id="snakey">Alluvial</a>

                <button class="accordion-btn" onclick="toggleDropdown('section3')">Maps</button>
                <div class="dropdown-content" id="section3">
                    <a href="/map1">Choropleth map (1)</a>
                    <a href="/map2">Choropleth map (2)</a>
                </div>

                <button class="accordion-btn" onclick="toggleDropdown('section4')">Climate Insights</button>
                <div class="dropdown-content" id="section4">
                    <a href="/radar">Yearly Spider Plot</a>
                </div>


            </div>
        </div>
    </div>
    <div class="content">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
   
<script src="/static/js/base.js"></script>
</body>

</html>