{% extends "base.html" %}

{% block content %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Life Expectancy Visualization</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .axis-label {
      font-size: 14px;
    }
  </style>
</head>
<body>
  <h1>Life Expectancy at Age 60 by Region (2000-2021)</h1>
  <script src="/static/js/finalstackedbar.js"></script>
</body>
</html>

{% endblock %}