{% extends "base.html" %}


{% block extra_styles %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Healthy Life Expectancy at Age 60</title>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <style>

      .axis-label {
          font-size: 14px;
          font-weight: bold;
      }
      .tooltip {
          position: absolute;
          background: lightgray;
          padding: 5px;
          border-radius: 5px;
          visibility: hidden;
          text-align: center; /* Center tooltip text */
      }
      svg {
          display: block; /* Prevents default inline behavior */
          margin: 20px auto; /* Centers the SVG */
      }
  </style>
  {% endblock %}
  {% block content %}
</head>
<body>
  <h2>Average Healthy Life Expectancy at Age 60 (2000-2021)</h2>
  <label for="year">Select Year:</label>
  <select id="year"></select>

  <div class="content-wrapper">
    <div class="text-box">
        <p>
          This bar chart represents average healthy life expectancy at age 60 across different regions over time. The
          consistent height of the bars indicates that life expectancy beyond 60 has remained relatively stable, with
          variations among regions. Europe and the Americas have the highest life expectancy, while Africa shows the
          lowest. This visualization highlights longevity trends and aging populations in different global regions.
    </div>
  <svg width="900" height="600"></svg>
  <div class="tooltip"></div>

  
<script src="/static/js/finalstackedbar.js"></script>
</body>
</html>
{% endblock %}