{% extends "base.html" %}

{% block title %}Stacked Area Chart{% endblock %}


{% block content %}
<div ng-controller="FormController" class="form-container">
    <div class="form-header">
        <h1 class="form-title">Exploring Global Demographics: Sex Ratio & Life Expectancy Trends (2000-2021)</h1>
        <p class="form-description mat-body-1">
            This interactive chart allows you to explore sex ratio trends and life expectancy across different
            countries over the past two decades. By selecting a country, you can visualize how the female-to-male
            ratio, life expectancy, and healthy life expectancy have evolved over time.
        </p>
    </div>
    <div class="form-controls">
        <md-input-container class="w-full">
            <label>Select Country</label>
            <md-select ng-model="formData.country" placeholder="Select Country" required>
                <md-option ng-repeat="country in countries" ng-value="country">
                    {% raw %}{{country}}{% endraw %}
                </md-option>
            </md-select>
        </md-input-container>

        <button mat-flat-button class="submit-button" type="submit" ng-click="updateCountry()">
            <span class="flex items-center justify-center gap-2">
                Generate Plot
            </span>
        </button>
    </div>
    <div id="stacked-area-plot"></div>
    <script src="/static/js/le_stacked.js"></script>
</div>

{% endblock %}