{% extends "base.html" %}

{% block title %}violin chart{% endblock %}

{% block content %}

<div>
    <div ng-controller="FormController" class="form-container">
        <div class="form-header">
            <h1 class="form-title">Unveiling Global Life Expectancy: A Visual Journey Through Regions</h1>
            <p class="form-description mat-body-1">
                This violin plot provides a compelling visualization of life expectancy distributions across different
                regions or countries. Each violin shape illustrates the density of life expectancy values, highlighting
                variations within each group. The plot also features extreme values—minimum and maximum
                estimates—offering insight into disparities and outliers. By comparing regions side by side, we can
                uncover patterns, anomalies, and trends that shape global health outcomes. Explore how life expectancy
                varies across the world and discover the stories hidden within the data!
            </p>
        </div>

        <form ng-submit="generateViolinPlot()" class="space-y-6">

            <!-- Region Selection -->
            <md-input-container class="w-full">
                <label>Select Region</label>
                <md-select ng-model="formData.region" placeholder="Select Region" required>
                    <md-option ng-repeat="region in regions" ng-value="region">
                        {% raw %}{{region}}{% endraw %}
                    </md-option>
                </md-select>
            </md-input-container>


            <!-- Year Selection -->
            <md-input-container class="w-full">
                <label>Select Year</label>
                <md-select ng-model="formData.year" placeholder="Select year" required>
                    <md-option ng-repeat="year in years" ng-value="year">
                        {% raw %}{{year}}{% endraw %}
                    </md-option>
                </md-select>
            </md-input-container>

            <!-- Submit Button -->
            <button mat-flat-button class="submit-button" type="submit">
                <span class="flex items-center justify-center gap-2">
                    <i class="material-icons">bar</i>
                    Generate Plot
                </span>
            </button>
        </form>
        <div class="chart-container">

            <div id="violin-chart" class="violin-chart-wrapper"></div>
        </div>

    </div>
</div>
<script src="/static/js/le_violin.js"></script>

{% endblock %}